arabic-reshaper
asgiref
asn1crypto
certifi
cffi
chardet
charset-normalizer
click
colorama
contourpy
crispy-bootstrap5
cryptography
cssselect2
cycler
distlib
Django
django-cors-headers
django-crispy-forms
django-environ
django-filter
djangorestframework
djangorestframework-simplejwt
environ
filelock
fonttools
html5lib
idna
imbalanced-learn
joblib
kiwisolver
lxml
Markdown
matplotlib
numpy
oscrypto
packaging
pandas
pillow
pipenv
platformdirs
psycopg2
pycparser
pyHanko
pyhanko-certvalidator
PyJWT
pyparsing
pypdf
pypng
python-bidi
python-dateutil
pytz
PyYAML
qrcode
reportlab
requests
scipy
seaborn
setuptools
six
sqlparse
svglib
threadpoolctl
tinycss2
typing_extensions
tzdata
tzlocal
uritools
urllib3
virtualenv
webencodings
xgboost
xhtml2pdf
