{%extends 'base.html'%}

{%block content%}
{%load crispy_forms_tags%}
<form method='post' style="width: 50%; margin: auto" novalidate >
    <h1 style="text-align: center;" >Login Form</h1>
    {% csrf_token %}
    <!-- {{form | crispy }} -->
    {% for field in form %}
    
        {{field.label_tag}}
        {{field}}
        {{field.errors | striptags}}
  
    {% endfor %}

    <button class="btn btn-primary mt-2" type="submit">Login</button>

    <a href="{%url 'registration'%}">Create an account?</a>

</form>
{%endblock%}