{% extends "base.html" %}
{% block content %}

{% load static %}

<section class="herobg" style="background-color: #37495ea2; padding: 50px 0;">
  <div class="d-flex flex-wrap p-5 align-items-center container">

    <div class="jumbotron" style="background-color: #ffffff1f; border-radius: 15px; padding: 30px; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);">
      <h1 class="display-4" style="color: #333;">Welcome to MedAi</h1>
      <p class="lead" style="color: #666;">The best platform that helps you to Predict the Diabetes based on the symptoms you provide.</p>
      <hr class="my-4" style="border-color: #007bff;">
      <p style="color: #777;">It Uses Machine Learning Algorithms to Predict the Diabetes.</p>
      <a class="btn btn-primary" href="{% url 'predict' %}" role="button" style="border-radius: 30px;">Predict Diabetes</a>
    </div>

    <div class="col-6 bo">
      <img src="{% static 'images/bg2.png' %}" class="img-fluid rounded" alt="Hero Image"/>
    </div>
  </div>
</section>

<section class="howWorkBackground" style="background-color: #ffffff; padding: 50px 0;">
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-12 text-center">
        <h2 style="color: #007bff;">How It Works</h2>
        <p style="color: #666;">This Platform uses machine learning algorithms to predict the Diabetes based on the symptoms you provide.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4 text-center">
        <img style="width: 150px; height: 150px;" src="../static/images/realistic-scene-with-elderly-care-senior-people.jpg" />
        <h4 style="color: #007bff;">Enter Symptoms</h4>
        <p style="color: #666;">Enter the symptoms you are facing.</p>
      </div>
      <div class="col-4 text-center">
        <img style="width: 150px; height: 150px;" src="../static/images/two-men-are-standing-front-table-with-digital-clock_1288701-12268.jpg" />
        <h4 style="color: #007bff;">Get Prediction</h4>
        <p style="color: #666;">Get the prediction of the diabetes based on the symptoms you provided.</p>
      </div>
      <div class="col-4 text-center">
        <img style="width: 150px; height: 150px;" src="../static/images/3d-cartoon-hospital-healthcare-scene.jpg" />
        <h4 style="color: #007bff;">Get Treatment</h4>
        <p style="color: #666;">Get the treatment for the predicted diabetes.</p>
      </div>
    </div>
  </div>
</section>

<section id="doctorlist" style="padding: 50px 0;">
  <div class="container">
    <div class="row text-center">
      <h1 style="color: #007bff;">Our Team</h1>
    </div>
    <div class="row">


      <div class="col-md-4">
        <div class="card" style="border: none; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); border-radius: 15px;">
          <img src="../static/images/RESUME.png" class="card-img-top rounded mx-auto d-block" style="max-width: 200px; height: auto;" />
          <div class="card-body text-center">
            <h3 style="color: #007bff;">Hamim Sheikh</h3>
            <p style="color: #666;">CEO & Founder</p>
            <div class="icons">
              <a href="#" class="me-2">
                <i class="fa fa-facebook" style="color: #007bff;"></i>
              </a>
              <a href="#" class="me-2">
                <i class="fa fa-twitter" style="color: #007bff;"></i>
              </a>
              <a href="#" class="me-2">
                <i class="fa fa-instagram" style="color: #007bff;"></i>
              </a>
              <a href="#">
                <i class="fa fa-envelope" style="color: #007bff;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="card" style="border: none; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); border-radius: 15px;">
          <img src="../static/images/mosa.jpeg" class="card-img-top rounded mx-auto d-block" style="max-width: 200px; height: 150px;" />

          <div class="card-body text-center">
            <h3 style="color: #007bff;">Mosharrof Hossain</h3>
            <p style="color: #666;">Doctor</p>
            <div class="icons">
              <a href="#" class="me-2">
                <i class="fa fa-facebook" style="color: #007bff;"></i>
              </a>
              <a href="#" class="me-2">
                <i class="fa fa-twitter" style="color: #007bff;"></i>
              </a>
              <a href="#" class="me-2">
                <i class="fa fa-instagram" style="color: #007bff;"></i>
              </a>
              <a href="#">
                <i class="fa fa-envelope" style="color: #007bff;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="card" style="border: none; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); border-radius: 15px;">
          <img src="../static/images/joya.jpeg" class="card-img-top rounded mx-auto d-block" style="max-width: 200px; height: 150px;" />

          <div class="card-body text-center">
            <h3 style="color: #007bff;">Joy Gupta</h3>
            <p style="color: #666;">Doctor</p>
            <div class="icons">
              <a href="#" class="me-2">
                <i class="fa fa-facebook" style="color: #17314c;"></i>
              </a>
              <a href="#" class="me-2">
                <i class="fa fa-twitter" style="color: #007bff;"></i>
              </a>
              <a href="#" class="me-2">
                <i class="fa fa-instagram" style="color: #007bff;"></i>
              </a>
              <a href="#">
                <i class="fa fa-envelope" style="color: #007bff;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contUs" id="ContactUs" style="background-color: #f0f4f8; padding: 50px 0;">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 text-center">
        <h2 style="color: #007bff;">Contact Us</h2>
        <p style="color: #666;">Get in touch with us</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <form>
          <div class="form-group">
            <label for="exampleInputName">Name</label>
            <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp">
          </div>
          <div class="form-group">
            <label for="exampleInputPhone">Phone Number</label>
            <input type="text" class="form-control" id="exampleInputPhone" aria-describedby="phoneHelp">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="exampleInputMessage">Message</label>
            <textarea class="form-control" id="exampleInputMessage" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary mt-3" style="border-radius: 30px;">Submit</button>
        </form>
      </div>
      <div class="col-6 text-center">
        <img class="contactUs" src="https://i.ibb.co/rZDRV7V/man-working-computer-with-man-his-head-word-no-it-1113671-162-removebg-preview.png" style="max-width: 80%; height: auto;" />
      </div>
    </div>
  </div>
</section>

<section class="footerBg" style="background-color: #343a40; color: white; padding: 30px 0;">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 style="color: #007bff;">Get the App</h2>
        <p style="color: #007bff;">Download the app from the app store</p>
        <button class="Dwbtn" style="background-color: #007bff; color: black; border: none; padding: 10px 20px; border-radius: 5px;">Download Now</button>
      </div>
      <p class="mt-3" style="text-align: center; color: #007bff;">© copyright MedAi-2024</p>
    </div>
  </div>
</section>

{% endblock %}  